/* CSS stillerinizi buraya girin */

body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 24px;
}

header{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-bottom: 2%;
    align-content: space-around;
    background-color: rgb(208, 209, 209);
    justify-content: space-evenly;
}

h1{
    font-size: 2.5rem;   
}

nav{
    width: 40%;
}

nav a{ 
    border: 1px solid black;
    color: black;
    padding: 1% 4%;
    text-align: left;
    background-color: white;
}

a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
}

main{
    margin: 0 3%;
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    padding: 1% 1%;  
    width: 80vw;    
}

h2{
    font-size: 1.6rem;    
}

main img{
    width: 60%;
    height: 40%;
    display: inline-block; 
}
  
main div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;  
    margin-left: 5%;
    align-items: baseline;
    padding-left: 2%;
}


.button{
    border: 1px solid black;
    color: black;
    padding: 2% 3%;
    margin: 0;
    display: inline-block;
    font-size: 20px;
}

footer{
    padding: 4%;
    text-align: center;
    background-color: rgb(221, 221, 221);
}
footer p{
    font-size: 1rem;
    text-align: center;
}

section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 1%;
}

section div{
    width: 20vw;
    text-align: center;
    padding-bottom: 2% 1%;
}

section img{
    width: 100%;
}

h3{
    font-size: 1.1rem;
    font-weight: bold;
}

@media(max-width: 500px){
    header{
        background-color: white;
        text-align: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav a{
        text-align: center;
    }

    main{
        flex-direction: column;
        justify-content: center;
        width: 90vw;    
    }
    main img{
        width: 90vw;
    }
      
    main div{
        width: 75vw;
        align-items: center;
    }

    section{
        width: 90vw;
        margin: 0 auto;
        box-sizing: border-box;
    }
    section div{
        width: 42vw;
    }

}

@media(max-width: 800px){
    
}